/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #b64fc8;
}

input:focus+.slider {
    box-shadow: 0 0 1px #b64fc8;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input, input::placeholder, button {
    font-family: $font;
    font-weight: 500;
}

.weekly-forecast-container > .row,
.today-highlight-container > .row {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    @media screen and(max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and(max-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Style Input Search Location
.location-input {
    width: 100%;
    border: solid 2px var(--input-border-color);
    border-radius: 20px;
    background: transparent;
    color: var(--main-text-color);
    text-align: left;
    padding-left: 30px;
    padding-right: 10px;
    &:focus {
        outline: none;
    }
}
.location-input::placeholder {
    color: var(--main-text-color);
    font-size: 12px;
}

// Style Degrees switcher button 
button {
    border: none;
    border-radius: 100%;
    font-size: 20px;
    background-color: #fff;
    height: 45px;
    width: 45px;

    &:hover {
        background-color: #ccc;
    }
}
.activate {
    background-color: #000;
    color: #fff;
}
//style daily forecast card
.weekly-forecast-container {
    margin-top: 50px;
    .row {
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        @media screen and(max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and(max-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.daily-card-container,
.hightslight-cards {
    width: 100%;
    border-radius: 10px;
    h6 {
        color: var(--main-text-color);
        font-family: $font;
        font-weight:600;
    }
    p {
        margin: 0;
        text-align: center;
        color: var(--main-text-color);
        font-family: $font;
        font-weight: 700;
    }
}


.daily-card-container {
    background-color: var(--bg-daily-card);
    padding: 10px;
    h6 {
        font-size: 20px;
        text-align: center;
    }

    img {
        width: 75%;
        display: block;
        margin: 10px auto;
    }

    span {
        margin-left: 8px;
        color: var(--text-color-soft);
    }

}

//Style hightlight section 
.today-highlight-container {
    margin-top: 50px;
    .row {
        margin: 30px auto 0 auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        @media screen and(max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and(max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .hightslight-cards {
        background-color: var(--bg-week-card);
        padding: 15px;
        min-height: 172px;
        overflow: hidden;
        h6 {
            font-size: 15px;
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
            width: 80%;
            display: block;
            margin: auto;
        }
    }
}

.sunTime-card {
    img {
        width: 50px !important;
        display: inline !important;
        margin-right: 10px !important;
    }
    span {
        font-family: $font;
        font-weight: 600;
        color: var(--text-color-soft);
    }
}

.wind-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-top: -10px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
    }
    p {
        font-size: 40px;
        position: absolute;
        bottom: 30px;
        right: 10px;
        span {
            font-weight: 400;
            font-size: 15px;
            color: var(--text-color-soft);
        }
    }
}

.index-uv-container {
    position: relative;
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30%;
        width: 30%;
        background-color: #efcc00;
    }
}

#uv-index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.humidity-container {
    position: relative;
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 55%;
        width: 35%;
        border-radius: 50%;
        background-color: #0baeff;
    }
}

#humidity-level {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font;
    color: #fff;
}

.visibility-container{
    position: relative;
    img {
        opacity: 0.5;
    }
}

#visibility-level {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font;
    color: rgb(37, 37, 37);
    font-weight: 700;
    font-size: 36px;
}