@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: 'Montserrat', sans-serif;

body {
    margin: 0;
    padding: 0;
    background-color: #d6d7db;
}

.container {
    padding: 0;
}

.main-container {
    background-color: #fff;
    max-width: 992px;
    border-radius: 30px;
    margin-top: 50px;
    @media screen and(max-width: 992px) {
        border-radius: 0;
    }
    @media screen and(max-width: 768px) {
        margin-top: 0;
        padding-top: 20px;
    }
}

////////////////// Today Weather //////////////////

.today-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 30px;
    @media screen and(max-width: 992px) {
        border-radius: 0;
        padding: 10px;
    }
}

//Search Location Input
.location-input-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 30px auto;
    input {
        width: 100%;
        border: none;
        background: transparent;
        font-family: $font;
        color: #393939;
        font-weight: 500;
        text-align: left;
        padding-left: 30px;
        &:focus {
            outline: none;
        }
    }
    ::placeholder {
        color: #393939;
        font-family: $font;
        font-size: 15px;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 27px;
    }
    @media screen and(max-width: 768px) {
        margin-left: 20px;
    }
}

//Today Main Forecast 
.today-forecast-container {
    h3 {
        font-family: $font;
        font-size: 58px;
        font-weight: 400;
        color: #393939;
        span {
            font-size: 25px;
            vertical-align: super;
        }
    }
    p {
        font-family: $font;
        font-weight: 500;
        color: #7a7a7a;
        strong {
            font-weight: 700;
            color: #393939;
        }
    }
    hr {
        opacity: 0.2;
    }
}

.main-today-weather {
    margin: 0;
    .row {
        @media screen and(max-width: 768px) {
            align-items: center;
        }
    }
    @media screen and(max-width: 768px) {
        margin: 0 auto 25px auto;
    }
}

// Today details 
.today-details-container {
    position: relative;
    margin-bottom: 10px;
    font-family: $font;
    font-weight: 600;
    font-size: 14px;
    color: #393939;
    display: flex;
    align-items: center;
    @media screen and(max-width: 768px) {
        justify-content: center;
    }
    img {
        width: 35px;
        margin-right: 10px;
    }
}

.city-image {
    position: relative;
    height: 80px;
    width: 100%;
    margin: 30px auto 0 auto;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
        filter: sepia(50%);
        filter: brightness(50%);
    }
    h6 {
        width: 100%;
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: $font;
        color: #fff;
    }
}


////////////////// Week Weather //////////////////

.week-container {
    background-color: #f7f6f9;
    padding: 40px;
    border-radius: 0 30px 30px 0;
    @media screen and(max-width: 992px) {
        border-radius: 0;
        padding: 10px;
    }
}

.weekly-header-container {
    width: 100%;
    margin: auto;
    .row {
        max-width: 100%;
    }
    h3 {
        font-family: $font;
        font-weight: 600;
        font-size: 25px;
        color: #393939;
    }
}

.header-swtich-container {
    .row {
        justify-content: end;
        .col {
            width: fit-content
        }
    }
}

.today-highlight-container {
    h3 {
        font-family: $font;
        font-weight: 600;
        font-size: 25px;
        color: #393939;
    }
}

@import 'elements';