@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: 'Montserrat', sans-serif;

:root {
    --bg-body: #d6d7db;
    --bg-today-container: #fff;
    --bg-week-container: #f7f6f9;
    --main-text-color: #393939;
    --text-color-soft: #393939;
    --text-color-strong: #393939;
    --bg-theme-switcher: #fff;
    --input-border-color: rgb(24, 24, 24);
    --bg-week-card: #fff;
    --bg-daily-card: #fff;
}

body.dark-theme {
    --bg-body: #151618;
    --bg-today-container: #414347;
    --bg-week-container: #292929;
    --main-text-color: #e9e9e9;
    --text-color-soft: #ffb2ff;
    --text-color-strong: #b64fc8;
    --bg-theme-switcher: #b64fc8;
    --input-border-color: #b64fc8;
    --bg-week-card: #8c2e93a1;
    --bg-daily-card: #f356ffa1;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-body);
}
.container {
    padding: 0;
}
.main-container {
    background-color: var(--bg-today-container);
    max-width: 992px;
    border-radius: 30px;
    margin-top: 50px;
    @media screen and(max-width: 992px) {
        border-radius: 0;
    }
    @media screen and(max-width: 768px) {
        margin-top: 0;
        padding-top: 20px;
    }
}
.big-container {
    padding: 40px;
    @media screen and(max-width: 992px) {
        border-radius: 0;
        padding: 10px;
    }
}

h3 {
    font-family: $font;
    font-weight: 600;
}
.middle-heading{
    font-size: 25px;
    color: var(--text-color-soft);
}
////////////////// Today Weather //////////////////

.today-container {
    background-color: var(--bg-today-container);
    border-radius: 30px;
    position: relative;
}
//Search Location Input
.location-input-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 30px auto;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 31px;
    }
    @media screen and(max-width: 768px) {
        margin-left: 20px;
    }
}

.location-container {
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    background-color: var(--bg-today-container);
    width: 95%;
    margin-top: 0;
    font-family: $font;
    font-weight: 600;
    color: var(--main-text-color);
    overflow: auto;
    height: 80%;
    z-index: 100;
    li {
        margin-bottom: 10px;
        list-style: none;
        margin-right: 10px;
        border-radius: 7px;
        padding: 10px;
        &:hover {
            cursor: pointer;
            background-color: #bbbbbb;
        }
    }
}

//Today Main Forecast 
.today-forecast-container {
    h3 {
        font-size: 58px;
        color: var(--main-text-color);
        span {
            font-size: 25px;
            vertical-align: super;
        }
    }
    p {
        font-family: $font;
        font-weight: 500;
        color: var(--text-color-soft);
        strong {
            font-weight: 700;
            color: var(--main-text-color);
        }
    }
    hr {
        opacity: 0.2;
    }
}

.main-today-weather {
    margin: 0;
    img {
        max-width: 168px;
    }
    .row {
        @media screen and(max-width: 768px) {
            align-items: center;
        }
    }
    @media screen and(max-width: 768px) {
        margin: 0 auto 25px auto;
    }
}

// Today details 
.today-details-container {
    position: relative;
    margin-bottom: 10px;
    font-family: $font;
    font-weight: 600;
    font-size: 14px;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    @media screen and(max-width: 768px) {
        justify-content: center;
    }
    img {
        width: 35px;
        margin-right: 10px;
    }
}

.city-image {
    position: relative;
    height: 160px;
    width: 100%;
    margin: 30px auto 0 auto;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: sepia(50%);
        filter: brightness(50%);
    }
    h6 {
        width: 100%;
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: $font;
        color: #fff;
    }
}


////////////////// Week Weather //////////////////

.week-container {
    background-color: var(--bg-week-container);
    border-radius: 0 30px 30px 0;
}

.weekly-header-container {
    width: 100%;
    margin: auto;
    .row {
        max-width: 100%;
    }
}

.header-swtich-container {
    .row {
        justify-content: end;
        .col {
            width: fit-content
        }
    }
}


@import 'elements';