@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg-body: #d6d7db;
  --bg-today-container: #fff;
  --bg-week-container: #f7f6f9;
  --main-text-color: #393939;
  --text-color-soft: #393939;
  --text-color-strong: #393939;
  --bg-theme-switcher: #fff;
  --input-border-color: rgb(24, 24, 24);
  --bg-week-card: #fff;
  --bg-daily-card: #fff;
}

body.dark-theme {
  --bg-body: #151618;
  --bg-today-container: #414347;
  --bg-week-container: #292929;
  --main-text-color: #e9e9e9;
  --text-color-soft: #ffb2ff;
  --text-color-strong: #b64fc8;
  --bg-theme-switcher: #b64fc8;
  --input-border-color: #b64fc8;
  --bg-week-card: #8c2e93a1;
  --bg-daily-card: #f356ffa1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-body);
}

.container {
  padding: 0;
}

.main-container {
  background-color: var(--bg-today-container);
  max-width: 992px;
  border-radius: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .main-container {
    border-radius: 0;
  }
}
@media screen and (max-width: 768px) {
  .main-container {
    margin-top: 0;
    padding-top: 20px;
  }
}

.big-container {
  padding: 40px;
}
@media screen and (max-width: 992px) {
  .big-container {
    border-radius: 0;
    padding: 10px;
  }
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.middle-heading {
  font-size: 25px;
  color: var(--text-color-soft);
}

.today-container {
  background-color: var(--bg-today-container);
  border-radius: 30px;
  position: relative;
}

.location-input-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 30px auto;
}
.location-input-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
}
@media screen and (max-width: 768px) {
  .location-input-container {
    margin-left: 20px;
  }
}

.location-container {
  display: none;
  position: absolute;
  top: 85px;
  left: 0;
  background-color: var(--bg-today-container);
  width: 95%;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--main-text-color);
  overflow: auto;
  height: 80%;
  z-index: 100;
}
.location-container li {
  margin-bottom: 10px;
  list-style: none;
  margin-right: 10px;
  border-radius: 7px;
  padding: 10px;
}
.location-container li:hover {
  cursor: pointer;
  background-color: #bbbbbb;
}

.today-forecast-container h3 {
  font-size: 58px;
  color: var(--main-text-color);
}
.today-forecast-container h3 span {
  font-size: 25px;
  vertical-align: super;
}
.today-forecast-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--text-color-soft);
}
.today-forecast-container p strong {
  font-weight: 700;
  color: var(--main-text-color);
}
.today-forecast-container hr {
  opacity: 0.2;
}

.main-today-weather {
  margin: 0;
}
.main-today-weather img {
  max-width: 168px;
}
@media screen and (max-width: 768px) {
  .main-today-weather .row {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .main-today-weather {
    margin: 0 auto 25px auto;
  }
}

.today-details-container {
  position: relative;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .today-details-container {
    justify-content: center;
  }
}
.today-details-container img {
  width: 35px;
  margin-right: 10px;
}

.city-image {
  position: relative;
  height: 160px;
  width: 100%;
  margin: 30px auto 0 auto;
}
.city-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: sepia(50%);
  filter: brightness(50%);
}
.city-image h6 {
  width: 100%;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.week-container {
  background-color: var(--bg-week-container);
  border-radius: 0 30px 30px 0;
}

.weekly-header-container {
  width: 100%;
  margin: auto;
}
.weekly-header-container .row {
  max-width: 100%;
}

.header-swtich-container .row {
  justify-content: end;
}
.header-swtich-container .row .col {
  width: fit-content;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #b64fc8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b64fc8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input, input::placeholder, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.weekly-forecast-container > .row,
.today-highlight-container > .row {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}
@media screen and (max-width: 992px) {
  .weekly-forecast-container > .row,
.today-highlight-container > .row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .weekly-forecast-container > .row,
.today-highlight-container > .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

.location-input {
  width: 100%;
  border: solid 2px var(--input-border-color);
  border-radius: 20px;
  background: transparent;
  color: var(--main-text-color);
  text-align: left;
  padding-left: 30px;
  padding-right: 10px;
}
.location-input:focus {
  outline: none;
}

.location-input::placeholder {
  color: var(--main-text-color);
  font-size: 12px;
}

button {
  border: none;
  border-radius: 100%;
  font-size: 20px;
  background-color: #fff;
  height: 45px;
  width: 45px;
}
button:hover {
  background-color: #ccc;
}

.activate {
  background-color: #000;
  color: #fff;
}

.weekly-forecast-container {
  margin-top: 50px;
}
.weekly-forecast-container .row {
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
@media screen and (max-width: 992px) {
  .weekly-forecast-container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .weekly-forecast-container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

.daily-card-container,
.hightslight-cards {
  width: 100%;
  border-radius: 10px;
}
.daily-card-container h6,
.hightslight-cards h6 {
  color: var(--main-text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.daily-card-container p,
.hightslight-cards p {
  margin: 0;
  text-align: center;
  color: var(--main-text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.daily-card-container {
  background-color: var(--bg-daily-card);
  padding: 10px;
}
.daily-card-container h6 {
  font-size: 20px;
  text-align: center;
}
.daily-card-container img {
  width: 75%;
  display: block;
  margin: 10px auto;
}
.daily-card-container span {
  margin-left: 8px;
  color: var(--text-color-soft);
}

.today-highlight-container {
  margin-top: 50px;
}
.today-highlight-container .row {
  margin: 30px auto 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
@media screen and (max-width: 992px) {
  .today-highlight-container .row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .today-highlight-container .row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.today-highlight-container .hightslight-cards {
  background-color: var(--bg-week-card);
  padding: 15px;
  min-height: 172px;
  overflow: hidden;
}
.today-highlight-container .hightslight-cards h6 {
  font-size: 15px;
  margin-bottom: 20px;
}
.today-highlight-container .hightslight-cards img {
  max-width: 100%;
  width: 80%;
  display: block;
  margin: auto;
}

.sunTime-card img {
  width: 50px !important;
  display: inline !important;
  margin-right: 10px !important;
}
.sunTime-card span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--text-color-soft);
}

.wind-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-top: -10px;
}
.wind-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
}
.wind-container p {
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  right: 10px;
}
.wind-container p span {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color-soft);
}

.index-uv-container {
  position: relative;
}
.index-uv-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%;
  background-color: #efcc00;
}

#uv-index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.humidity-container {
  position: relative;
}
.humidity-container div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55%;
  width: 35%;
  border-radius: 50%;
  background-color: #0baeff;
}

#humidity-level {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.visibility-container {
  position: relative;
}
.visibility-container img {
  opacity: 0.5;
}

#visibility-level {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  color: #252525;
  font-weight: 700;
  font-size: 36px;
}

/*# sourceMappingURL=style.css.map */
